<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Group R</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Welcome, {{ username }} (Group R)</h5>
                        <p>This is the dashboard for users in Group R.</p>

                        <h6>Healthcare Data:</h6>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Age</th>
                                    <th>Weight</th>
                                    <th>Height</th>
                                    <th>Health History</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for data_item in healthcare_data %}
                                    <tr>
                                        <td>{{ data_item[3] }}</td>  <!-- Age -->
                                        <td>{{ data_item[4] }}</td>  <!-- Weight -->
                                        <td>{{ data_item[5] }}</td>  <!-- Height -->
                                        <td>{{ data_item[6] }}</td>  <!-- Health History -->
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <form method="post" action="{{ url_for('logout') }}">
                            <button type="submit" class="btn btn-danger">Logout</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
