<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Healthcare Data</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Edit Healthcare Data</h5>
                        <form method="post" action="{{ url_for('edit_data', id=data_item[0]) }}">
                            <div class="form-group">
                                <label for="new_first_name">First Name:</label>
                                <input type="text" class="form-control" id="new_first_name" name="new_first_name" value="{{ data_item[1] }}" required>
                            </div>
                            <div class="form-group">
                                <label for="new_last_name">Last Name:</label>
                                <input type="text" class="form-control" id="new_last_name" name="new_last_name" value="{{ data_item[2] }}" required>
                            </div>
                            <div class="form-group">
                                <label for="new_gender">Gender:</label>
                                <select class="form-control" id="new_gender" name="new_gender" required>
                                    <option value="M" {{ 'selected' if data_item[3] == 'M' else '' }}>Male</option>
                                    <option value="F" {{ 'selected' if data_item[3] == 'F' else '' }}>Female</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="new_age">Age:</label>
                                <input type="number" class="form-control" id="new_age" name="new_age" value="{{ data_item[4] }}" required>
                            </div>
                            <div class="form-group">
                                <label for="new_weight">Weight:</label>
                                <input type="number" class="form-control" id="new_weight" name="new_weight" value="{{ data_item[5] }}" required>
                            </div>
                            <div class="form-group">
                                <label for="new_height">Height:</label>
                                <input type="number" class="form-control" id="new_height" name="new_height" value="{{ data_item[6] }}" required>
                            </div>
                            <div class="form-group">
                                <label for="new_health_history">Health History:</label>
                                <textarea class="form-control" id="new_health_history" name="new_health_history" rows="3" required>{{ data_item[7] }}</textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
